<ion-view>
    <ion-content>
        <button >
        Share this
      </button>
      <a ng-click="share1()" class="">
                            share app
                        </a>
      <a href="http://www.facebook.com/sharer/sharer.php?u=http://localgyan.com/LoGyApk/LoGyApp1.4" target="_blank">Facebook Share</a>
      <a href="https://twitter.com/share?text=http://localgyan.com/LoGyApk/LoGyApp1.4" target="_blank">
        Twitter
                        </a>
      <a href="whatsapp://send?text=devendra" >Whatsapp</a>
    </ion-content>
</ion-view>