<ion-view>
    <ion-content>
        <button ng-click="shareApp()" >
        Share this
      </button>
      <a href="whatsapp://send?text=localgyan.com/LoGyApk/LoGyApp1.4" class="">
                            share app
                        </a>
      <a href="http://www.facebook.com/sharer/sharer.php?u=http://podargroup.com/SparkleMedia/download/" target="_blank">Facebook Share</a>
      <a href="https://twitter.com/share?text=http://podargroup.com/SparkleMedia/download/" target="_blank">
        Twitter
                        </a>
      <a ng-click="share1()" >Whatsapp</a>
      <a href="https://plus.google.com/share?url=http://podargroup.com/SparkleMedia/download/" target="_blank">Google+ Share </a>
      
    </ion-content>
</ion-view>